<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="hidden-print hidden-md" role="complementary">
                <ul class="nav">
                    <li><a href="/de-kunstschilder/">De kunstschilder</a></li>
                    <li><a href="/de-restaurateur/">De restaurateur</a></li>
                    <li><a href="/de-pottenbakker/">De pottenbakker</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <h1>$title$</h1>
            $body$
        </div>
    </div>
</div>
